.widget-xively {
  background: #0083ca;
}

.xH1 {
  font-size: 50px;
  font-weight: thin;
  margin-bottom: 0px;
}

.xH2 {
  font-size: 80px;
  margin: 10px 0px 25px 0px;

}

.xP {
  font-size: 20px;
  font-weight: thin;
}