<% content_for :title do %>Morning<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nest" data-view="Nest" data-title="Nest Temp"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="verbinski" data-view="Verbinski"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="xively_data" data-view="Xively" data-title="Basement" data-measurement="celsius"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tesla" data-view="Tesla" data-title="Tesla"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="uptimerobot" data-view="Uptimerobot"></div>
    </li>
  </ul>
</div>
