<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('
  [{"col":3,"row":1,"size_x":1,"size_y":1},
  {"col":1,"row":1,"size_x":1,"size_y":1},
  {"col":2,"row":1,"size_x":1,"size_y":1},
  {"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Morning<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nest" data-view="Nest" data-title="Nest Temp"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="verbinski" data-view="Verbinski"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tesla" data-view="Tesla" data-title="Tesla"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="xively_data" data-view="Xively" data-title="Basement" data-measurement="celsius"></div>
    </li>
  </ul>
</div>
