<% content_for :title do %>Morning<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="MotD" data-text="No MotD"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="verbinski" data-view="Verbinski"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nest" data-view="Nest" data-title="Nest Temp"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tesla" data-view="Tesla" data-title="Tesla"></div>
    </li>
    
  </ul>
  <center>
    <div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
